.comment-count {
    text-align: right;
    font-weight: bold;
}

.comments-pagination {
    text-align: center;
}

.pagination-div {
    text-align: center;
    cursor: pointer;
}

.loader-icon {
    font-size: 100px;
    text-align: center;
    margin-top: 20%;
    color: #337ab7;
}